doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.min.css')
    link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/jquery/jquery.min.js')
    script(src='/jquery-ui-dist/jquery-ui.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
